// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

//nav-bar

.navbar {
  .user {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #777;
    position: relative;
    display: block;
  }
  .user_name {
    font-weight: bold;
  }
}
